<h1>Merchants</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/merchants/new">New Tag</a>
</p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Logo</th>
  </tr>
  <% for merchant in @merchant %>
  <tr>
    <td><a href="/merchants/<%= merchant.id %>"><%= merchant.merchant_name %></a></td>
    <td>|</td>
    <td><img width="20" height="20" src= <%= merchant.merchant_logo %></td>
    <td>
      <form action="/merchants/<%= merchant.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>
