<h1>New Merchant</h1>

<form action="/merchants" method="post">




  <label>
    Create a new Merchant:
    <label for="merchants"> Merchant Name: </label>
    <input id="merchants" type="text" name="merchant_name"/>
    <label for="merchants"> Merchant Logo: </label>
    <input id="merchants" type="text" name="merchant_logo"/>
  </label>




  <input class="btn btn--update" type='submit' value="submit">
</form>
