<h1>Tags</h1>
<h3>Select a tag to view transactions for the tag</h3>


<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Logo</th>
  </tr>
  <% for tag in @tag %>
  <tr>
    <td><a href="/tags/<%= tag.id %>"><%= tag.tag_name %></a></td>
    <td>|</td>
    <td><%= tag.tag_logo %></td>
    <td>
      <form action="/tags/<%= tag.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>
