<h1>New Tag</h1>

<form action="/tags" method="post">




  <label>
    Create a new Tag:
    <label for="tags">Tag Name: </label>
    <input id="tags" type="text" name="tag_name"/>
    <label for="tags">Tag Logo: </label>
    <input id="tags" type="text" name="tag_logo"/>
    <label for="tags">Tag Budget: </label>
    <input id="tags" type="text" name="tag_budget"/>
  </label>




  <input class="btn btn--update" type='submit' value="submit">
</form>
