<h1>Update Tag</h1>

<form action="/tags/<%=@tag.id%>" method="post">


  <label for="Tag-name-field">Tag Name:</label>
  <input
  type="text"
  name="tag_name"
  id="Tag-name-field"
  value="<%= @tag.tag_name %>"
  />
  <label for="Tag-logo-field">Tag Logo:</label>

  <input
  type="text"
  name="tag_logo"
  id="Tag-logo-field"
  value="<%= @tag.tag_logo %>"
  />

  <label for="Tag-budget-field">Tag Budget:</label>

  <input
  type="text"
  name="tag_budget"
  id="Tag-budget-field"
  value="<%= @tag.tag_budget %>"
  />



  <input class="btn btn--update" type='submit' value="submit">
</form>
