.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: #FD85A5;
  cursor:pointer;
  font-family: 'Baloo Bhaina', cursive;
  transition: top ease 0.5s;
  display: inline-block;

}

.btn--danger {
  background-color: #2A5B77;
  outline: dotted;



}

.btn--danger:hover {
  outline: dotted;
  margin-left: -5px;



}

.btn--action:hover {
  outline: dotted;
  margin: -5px;

}

.btn--action {
  outline: dotted;
  background-color: #2A5B77;


}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}
