


.btn {
  border:0px none;

  padding: 2px 4px;
  color: #FD85A5;
  cursor:pointer;
  font-family: 'Baloo Bhaina', cursive;
  transition: top ease 1s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  display: inline;
  margin-left: 100px;



}

.btn--danger {
  background-color: #2A5B77;
  outline: dotted;
  float:right;






}

.btn--danger:hover {
  outline: dotted;
  margin-right: +8px;



}

.btn--action:hover {
  outline: dotted;
  margin-left: +103px;
}

.btn--update:hover {
  outline: dotted;
  margin-left: +13px;
}

.btn--update {
  outline: dotted;
  background-color: #2A5B77;
}


.btn--action {
  outline: dotted;
  background-color: #2A5B77;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;

}
