input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Baloo Bhaina', cursive;
  margin: 10px;
}

input[type="number"] {
  font-family: 'Baloo Bhaina', cursive;
  margin: 10px;
}


select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 0.8em;
 -webkit-appearance: none;
 background: url('/images/hazard.png') 96% / 15% no-repeat papayawhip;
 font-family: 'Baloo Bhaina', cursive;
 border: 5px solid #eee;
 display:inline-block;
 margin: 10px;

}

:focus {
  outline-color: transparent;
  outline-style: none;
}
