body {
  background: #2A5B77;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #FD85A5
;
  font-family: 'Baloo Bhaina', cursive;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Bhaina', cursive;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  color: #FD85A5;
  margin-bottom: 20px;
}

a, a:link, a:visited {
  color: #FD85A5;
  text-decoration: none;
}

a:hover, a:active, a:focus {
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;

}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

p {
  font-size: 1.1em;


}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid blue;
  padding-left: 25px;
  border-left: dotted;
}
